@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image-pattern {
  background-image: url('../../public/assets/img/bg-pattern.webp');
}

.post-parsed {
  font-weight: 200;
}
.post-parsed p {
  margin: 1rem 0;
}
.post-parsed p span {
  background-color: none;
}
.post-parsed img {
  width: 100%;
  height: auto;
  border-radius: 0.6rem;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.post-parsed ul li,
ol li {
  margin: 1rem 0;
  font-style: italic;
  list-style: none;
  font-weight: 300;
}

@media (min-width: 550px) {
  .post-parsed img {
    border-radius: 0.8rem;
    margin: 2rem 0;
  }
}

@media (min-width: 800px) {
  .post-parsed p {
    margin: 2rem 0;
  }

  .post-parsed img {
    border-radius: 1rem;
    margin: 3rem 0;
  }
}
